<html>
 <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Humidity monitor</title>
    <link href="layout.css" rel="stylesheet" type="text/css">
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="../excanvas.min.js"></script><![endif]-->
    <script language="javascript" type="text/javascript" src="/js/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="/js/jquery.flot.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <style>
      #value {
       font-weight: bolder;
      }
      #valuediv {

      }
    </style>
 </head>
    <body>
    <h1>Humidity monitor</h1>

    <div id="valuediv">Current humidity: <span id="value"></span></div>

    <div id="placeholder" style="width:600px;height:300px;"></div>

<script type="text/javascript">
$(function () {

    var socket = io.connect();

    var data = [], totalPoints = 300*25;

    // setup plot
    var options = {
        series: { shadowSize: 0 }, // drawing is faster without shadows
        yaxis: { min: 0, max: 100 },
        xaxis: { min: 0, max: totalPoints/5.0/60, label: "time" }
    };
    var plot = $.plot($("#placeholder"), [ [0, 0] ], options);

    function update() {
        plot.setData([ getRandomData() ]);
        // since the axes don't change, we don't need to call plot.setupGrid()
        plot.draw();
        
        setTimeout(update, updateInterval);
    }

    function storeData(val) {
        if (data.length > 0) {
            data = data.slice(1);
        } else {
        } 

        while (data.length < totalPoints) {
            var prev = data.length > 0 ? data[data.length - 1] : 0;
            data.push(prev);
        }
        data.push(val);

        // zip the generated y values with the x values
        var res = [];
        for (var i = 0; i < data.length; ++i)
            res.push([i/5.0/60, data[i]])
        return res;
    }

    
    var zz = 0;
    socket.on('humidity', function (data) {
    	var hum = data.value;
        $("#value").html(hum+"%");
	$('title').text(hum+"%");
    	plot.setData([ storeData(hum) ]);
        plot.draw();
    	zz++;
    });

});
</script>

 </body>
</html>
